extends ../../templates/header.jade

block vars
	- title='Lucid Design System'

block body
	article.portfolio
		header
			a(href="/")
				include ../../includes/arrow-left.svg
				span Back to Home
		include portfolio-content.html
		footer
			p 
				a(href="/") Back to Home