.projects.experience.half
	header
		//- include includes/medium.svg
		h2 Work Experience
	ul
		li
			h3 Product Designer at 
				a.underline(href="golucid.co") Lucid Software
			h4 May 2016 – Present
		li
			h3 Web Designer at BYU Center for Teaching & Learning
			h4 Oct 2013 – Apr 2015
		li
			h3 Frontend Developer for Riser Agency
			h4 May 2014 – Aug 2014